body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(232, 232, 232);
}

.container1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 200px;
    background-color: #483d8b;
}

.titleweb {
    margin-left: 150px;
}

.titleweb span a {
    font-size: 28px;
    text-decoration: none;
    color: white;
}

.search-bar {
    width: 300px;
    height: 40px;
    display: flex;
    gap: 0;
}

.search-bar input {
    width: 250px;
    height: 30px;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
}

.search-bar button {
    width: 40px;
    height: 33px;
    border: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 60px;
}

.big-navbar {
    position: relative;
    color: black;
    font-size: large;
    font-weight: 500;
}

.title-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
    box-shadow: 0 1px 2px 2px rgba(199, 199, 199, 0.463);
    width: 500px;
    height: 250px;
    z-index: 1;
}

.content table {
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.content table tr td {
    text-align: left;
}

.content table tr td a {
    text-decoration: none;
    text-overflow: ellipsis;
    color: black;
}

.content2 {
    display: none;
    position: absolute;
    top: 100%;
    left: -60%;
    background-color: white;
    box-shadow: 0 1px 2px 2px rgba(199, 199, 199, 0.463);
    width: 250px;
    height: 250px;
    z-index: 1;
}

.content2 table {
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.content2 table tr td {
    text-align: left;
}

.content2 table tr td a {
    text-decoration: none;
    text-overflow: ellipsis;
    color: black;
}

.container2 {
    width: 80%;
    min-height: 90vh;
    margin-left: 10%;
    background-color: white;
    display: flex;
}

.left-content {
    width: 60%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.duongdan {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.duongdan a {
    text-decoration: none;
    font-size: 18px;
}

.thongtintruyen {
    width: 80%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#name {
    font-size: 30px;
}

.noidung {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.anhtruyen {
    width: 200px;
    height: 270px;
}

.anhtruyen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-thongtin {
    width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thongtin {
    width: 100%;
    height: 170px;
}

.thongtin table {
    width: 100%;
    height: 100px;
}

.thongtin table tr td {
    font-size: 18px;
}

.thongtin table tr td span a {
    text-decoration: none;
}

.buttonfunc {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.line1 a {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    gap: 5px;
}

.line2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.line2 a {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 174, 0, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    gap: 5px;
}

.noidungtruyen {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titlenoidungtruyen span {
    color: #2980b9;
    font-size: 18px;
}

.whitespace {
    width: 100%;
    height: 2px;
    background-color: #2980b9;
}

.contenttruyen {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenttruyen p {
    font-size: 18px;
}

.danhsachchuong {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titledanhsach span {
    font-size: 18px;
}

.listchuong {
    width: 100%;
}

.listchuong table {
    width: 100%;
}

.listchuong table thead th {
    text-align: left;
    font-size: 18px;
}

.listchuong table tbody tr {
    height: 40px;
}

.commentlayout {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

.titlecomment {
    width: 100%;
    height: 50px;
}

.titlecomment span {
    font-size: 28px;
}

.commentcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.commentcontent textarea {
    width: 80%;
    margin-left: 10%;
}

.commentcontent a {
    width: 50px;
    height: 30px;
    background-color: #337ab7;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 10%;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.morecomment {
    width: 100%;
    height: 70px;
}

.morecomment a {
    width: 80%;
    height: 100%;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-top: 3px solid purple;
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(227, 227, 227);
    display: flex;
    align-items: center;
}

.right-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themtruyen {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.titlethemtruyen {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titlethemtruyen span {
    font-size: 20px;
}

.listtruyenthem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.truyen {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px solid rgb(209, 209, 209);
}

.anhtruyenthem {
    width: 80px;
    height: 80px;
}

.anhtruyenthem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thongtintruyenthem {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#tentruyen {
    text-decoration: none;
    font-size: 20px;
}

.small-thongtin {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.small-thongtin a {
    text-decoration: none;
}

footer {
    width: 100%;
    min-height: 150px;
    background-color: #483d8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
}
